@use "@styles/mixins";
@use "@styles/colors";
@use "@styles/fonts";

.store {
  display: flex;
  flex-direction: column;
  background-color: colors.$light-gray;
  scroll-margin-top: 68px;

  &__wrapper {
    @include mixins.container;
    @include mixins.desktop {
      margin-bottom: 5rem;
    }
  }

  &__title {
    font-size: fonts.$xl-size;
    text-align: center;
    @include mixins.desktop-lg {
      text-align: left;
      display: none;
    }
  }

  &__text {
    font-family: "questrialregular";
    font-size: fonts.$md-size;
    max-width: 305px;
    text-align: center;
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100dvh;

    @include mixins.desktop-lg {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__album-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    gap: 2rem;

    @include mixins.desktop-xl {
      flex-direction: row;
    }
  }

  &__album {
    background-color: colors.$blue;
    color: colors.$light-yellow;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 34px;
    width: 100%;
    height: fit-content;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    &__orbita {
      border: 0;
      width: 100%;
      height: 100%;
      min-height: 420px;
      max-width: 350px;
      max-height: 470px;

      @include mixins.mobile {
        height: 470px;
      }
      @include mixins.desktop {
        height: 470px;
      }
    }

    &__style {
      border: 0;
      width: 100px;
      height: 100px;

      @media (min-width: 425px) {
        width: 150px;
        height: 150px;
      }

      @include mixins.desktop {
        width: 300px;
        height: 300px;
      }

      @include mixins.desktop-xl {
        width: 200px;
        height: 200px;
      }
    }
  }
}
