@use "@styles/mixins";
@use "@styles/colors";
@use "@styles/fonts";

.videos {
  width: 100%;
  background-color: colors.$light-green;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
  // height: 100dvh;
  padding-block: 2rem;
  gap: 1rem;

  &__title {
    font-size: fonts.$xl-size;
    text-align: center;
    @include mixins.desktop-lg {
      display: none;
    }
  }

  &__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mixins.desktop-lg {
      height: 100dvh;
    }
  }

  &__iframe {
    width: 320px;
    height: 320px;

    @include mixins.desktop {
      width: 560px;
      height: 315px;
    }

    @include mixins.desktop-xl {
      width: 822px;
      height: 462px;
    }
  }
}
