$black: #0b1207;
$green: #366529;
$dark-green: #153418;
$light-green: #a5d174;
$brown: #613119;
$light-brown: #ab8769;
$blue: #295165;
$light-blue: #5392b1;
$light-gray: #e6e9fd;
$light-yellow: #fdf2e6;
$dark-orange: #906e51;
