@use "@styles/colors";
@use "@styles/mixins";
@use "@styles/fonts";

.concerts {
  width: 100%;
  background-color: colors.$dark-green;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 68px;
  height: 100dvh;

  @include mixins.desktop-lg {
    flex-direction: row;
    justify-content: space-between;
    background-color: colors.$black;
  }

  &__image {
    height: 100%;
    width: 100%;

    @include mixins.desktop-lg {
      width: 50%;
    }
  }

  &__parent {
    @include mixins.container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: fonts.$xl-size;
    color: colors.$light-yellow;
    text-align: center;
  }

  &__secondary-text {
    color: colors.$dark-orange;
    font-family: "the_seasonsregular", sans-serif;
    text-align: center;
  }

  &__secondary-sub {
    color: colors.$light-green;
    font-family: "questrialregular", sans-serif;
    text-align: center;
  }

  &__sub {
    color: colors.$light-green;
    text-align: center;
    padding-block: 1rem;
    max-width: 300px;
    border-bottom: 2px solid colors.$brown;
    font-family: "questrialregular", sans-serif;
  }
}
