@use "@styles/colors";
@use "@styles/mixins";
@use "@styles/fonts";

.header {
  background-color: colors.$green;
  width: 100%;
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease-in-out;
  z-index: 1;

  &__title {
    font-size: fonts.$lg-size;
    cursor: pointer;
    @include mixins.desktop-lg {
      font-size: fonts.$xl-size;
    }
  }

  &__header-icon {
    font-size: x-large;
  }

  &__toggle-events {
    color: colors.$black;
  }

  &__title-events {
    color: colors.$black;
    @include mixins.desktop {
    }
  }

  &--bio {
    background-color: colors.$blue;
  }
  &--music {
    background-color: colors.$green;
  }

  &--videos {
    background-color: colors.$green;
  }

  &--store {
    background-color: colors.$green;
  }

  &--events {
    background-color: colors.$light-green;
  }

  &--blog {
    background-color: colors.$brown;
  }

  &--contact {
    background-color: colors.$light-blue;
  }

  &__nav {
    @include mixins.container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: colors.$light-yellow;

    @include mixins.desktop-lg {
      height: 5rem;
    }

    &__ul {
      display: none;

      @include mixins.desktop-lg {
        display: flex;
        list-style: none;
        gap: 1rem;
      }
    }

    &__toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 24px;
      width: 24px;
      color: colors.$light-yellow;
      background: none;
      border: none;
      padding: 0;
      transition: color 0.3s ease-in-out;

      @include mixins.desktop-lg {
        display: none;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &__open-menu {
      position: absolute;
      height: 0px;
      overflow: hidden;
      width: 100%;
      background-color: colors.$light-yellow;

      &--open {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 2rem;
        height: 100vh;
        width: 100%;
        padding: 1rem;
        padding-top: 3rem;
        background-color: colors.$dark-green-translucent;
      }
    }

    &__drawer-title {
      font-size: fonts.$xl-size;
      color: colors.$light-yellow;
    }

    &__link {
      opacity: 1;
      text-decoration: none;
      font-size: fonts.$lg-size;
      font-family: "the_seasonsregular";

      @media (max-width: 768px) {
        color: colors.$light-yellow;
      }

      @include mixins.desktop-lg {
        font-size: fonts.$md-size;
      }
    }
  }
}
